<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <connectionStrings>
        <!--<add name="connectionString" connectionString="Data Source=C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA; initial Catalog=ETDB;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <add name="connectionString" connectionString=" Server=AYEAYEMON\SQLEXPRESS;AttachDbFilename=C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\ETDB.mdf; Database=ETDB;Trusted_Connection=Yes;User Id=saet;Password=saet" providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>